    {% if task_lists is empty  %}
      <h3>There are no task found.</h3>
    {% else %}
      <h2 class="block-title">Tasks in tabular form</h2>
      <a href="add-task">Add Task</a>
      <table class="tabular-task-table">
        <thead>
          <tr>
            <th>Task Name</th>
            <th>Assignee</th>
            <th>Priority</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          {% for task in task_lists %}
            <tr class="tabular-task-items">
              <td>{{ task.task_name }}</td>
              <td>{{ task.task_assignee }}</td>
              <td>{{ task.task_priority }}</td>
              <td>{{ task.task_start_date }}</td>
              <td>{{ task.task_end_date }}</td>
              <td>{{ task.task_status }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>    
    {% endif %}